.svgSprite {
  display: none;
}

.icon {
  min-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &_bomb {
    width: 21px;
    height: 21px;
  }

  &_flag {
    width: 20px;
    height: 20px;
  }
}
