.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: none;
  overflow: hidden;
  width: 25px;
  height: 25px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid #ccc;
  cursor: pointer;
  font-weight: 600;

  &_null {
    background-color: darkgray;
  }

  &_P {
    background-color: darkgray;
  }

  &_0 {
    color: #ddd;
  }

  &_1 {
    color: dodgerblue;
  }

  &_2 {
    color: forestgreen;
  }

  &_3 {
    color: brown;
  }
}




